body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

/* header */
.custom-block {
  padding-bottom: 10px;
}

.padding-top {
  padding-top: 70px;
}

/* block */
.main-block {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* table */
.sticky_table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.color-header {
  background-color: white
}

.txt {
  text-align: left;
  font-size: .85em;
}

/* input */
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

/* icon */
.error-icon {
    font-size:10px;
    color:red;
}

/* footer */
.footer {
  font-size: 60%;
  color: #777777;
  text-align: right;
}
